<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password Form</title>
    <link rel="stylesheet" href="forgot.css" />
  </head>
  <body>
    <div>
      <h2>Please Fill in the your Mail ID for Account Recovery!</h2>
      <form id="forgot-form">
        <input type="email" id="email" required/>
        <button type="submit" id="forgot">Send Reset Link</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="forgot.js"></script>
  </body>
</html>
