<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Sign Up</title>
    <link rel="stylesheet" type="text/css" href="signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />
      <div class="signup">
        <form id="form1">
          <label for="chk" aria-hidden="true">Sign up</label>
          <input
            type="text"
            name="txt"
            placeholder="Username"
            id="name"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            id="email"
            required
          />
          <input
            type="password"
            name="pswd"
            placeholder="Password"
            id="password"
            required
          />
          <button type="submit" id="signup">Sign Up</button>
          <h2 id="status1"></h2>
        </form>
      </div>
      <div class="login">
        <form id="form2">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="email" name="email" placeholder="Email" id="login_email" required />
          <input
            type="password"
            name="pswd"
            placeholder="Password"
            id="login_password"
            required
          />
          <button type="submit" id="forgot">Forgot Password?</button>
          <button type="submit" id="login">Login</button>
          <h2 id="status2"></h2>
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="signup.js"></script>
    </div>
  </body>
</html>
