<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div id="login">
        <h2 id="heading">Log In</h2>
        <label for="email">Email</label>
        <input type="email" id="email">
        <label for="password">Password</label>
        <input type="password" id="password">
        <button id="submit">Log In</button>
        <a href="./signup.html">Create an Account</a>
    </div>
</body>
</html>