<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Chat App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="group-list">
      <h1>Groups</h1>
      <div class="groups" id="groups"></div>
      <h1>Users</h1>
      <div class="groups" id="users"></div>
      <button id="create-group-btn">Create New Group</button>
    </div>

    <div id="chat-room">
      <h1>Chat Room</h1>
      <div id="chat-display"></div>

      <div id="chat-input-container">
        <input type="text" id="chat-input" placeholder="Type your message..." />
        <button id="send-btn">Send</button>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeBtn">&times;</span>
        <h2>New Group</h2>
        <form>
          <label for="name">Group Name</label>
          <input type="text" id="group-name" name="name" /><br /><br />
          <fieldset id="list-of-users">
            <legend>Select Users From Below List:</legend>
          </fieldset>

          <!-- Submit Button -->
          <button type="submit" id="created">Create New Group</button>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
